<footer class="block block--dark footer">
  <div class="container grid footer__sections">
    <section class="collapsible collapsible--expanded footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Item 1</h2>
        <svg
          class="icon icon--white collapsible__chevron"
          width="51"
          height="51"
          viewBox="0 0 51 51"
          xmlns="http://www.w3.org/2000/svg"
          version="1.1"
          preserveAspectRatio="xMinYMin"
        >
          <use xlink:href="#img-chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, ab.
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Item 2</h2>
        <svg
          class="icon icon--white collapsible__chevron"
          width="51"
          height="51"
          viewBox="0 0 51 51"
          xmlns="http://www.w3.org/2000/svg"
          version="1.1"
          preserveAspectRatio="xMinYMin"
        >
          <use xlink:href="#img-chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        <ul class="list">
          <li><a href="#">Website Hosting</a></li>
          <li><a href="#">Free Automated Wordpress</a></li>
          <li><a href="#">Migrations</a></li>
        </ul>
      </div>
    </section>
    <section class="collapsible footer__section">
      <header class="collapsible__header">
        <h2 class="collapsible__heading footer__heading">Item 3</h2>
        <svg
          class="icon icon--white collapsible__chevron"
          width="51"
          height="51"
          viewBox="0 0 51 51"
          xmlns="http://www.w3.org/2000/svg"
          version="1.1"
          preserveAspectRatio="xMinYMin"
        >
          <use xlink:href="#img-chevron"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat, ab.
      </div>
    </section>
    <section class="footer__brand">
      <img src="images/logo.svg" alt="" />
      <p class="footer__copyright">Copyright Somya Singhal</p>
    </section>
  </div>
</footer>
